body {
  padding-top: 50px;
}

#noScriptAlert {
  margin-top: 20px;
}

.h3-octicon {
  font-size: 24px;
}

#experienceList img.media-object, #educationList img.media-object {
  height: 64px;
  width: 64px;
}

.project-heading {
  margin-top: 2px;
}

.project-content {
  margin-bottom: 30px;
}

.projectsLightboxImg {
  width: 100%;
}

@media print {
  body {
    padding-top: 0;
  }
  
  .project-row {
    page-break-inside: avoid;
  }
  
  a.project-thumbnail[href]:after, .media a[href]:after {
    content: "";
  }
  
  /* workaround because printing uses the XS grid in most browsers */
  .project-thumbnail {
    max-width: 200px ! important;
  }
}